*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --orange: #F2C14E;
}

h1 {
  font-size: 54px;
  text-transform: uppercase;
}

body {
    color: var(--orange);
    background-color: #37505C;
}

td {
	border:  2px solid var(--orange);
	height:  100px;
	width:  100px;
	text-align:  center;
	vertical-align:  middle;
	font-family:  "Comic Sans MS", cursive, sans-serif;
	font-size:  70px;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	position: absolute;
	left: 50%;
	margin-left: -155px;
	top: 50px;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

span{
  color: aliceblue;
}

.text1{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  width: 700px; 
  height: 300px;
  border-radius: 70px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  background-color: #233f4d;
}

h2{
  margin: 30px;
  font-size: 30px;
}

.table {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 70px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.endgame {
  display: none;
  width: 200px;
  top: 120px;
  background-color: rgba(205,133,63, 0.8);
  position: absolute;
  left: 50%;
  margin-left: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    border-color: var(--orange);
    font-size: 25px;
    transition: 200ms transform;
    font-weight: 600;
}
button:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding:10px;
  color: var(--orange);
  font-size: 20px;
}
p{
  padding: 20px;
}

.footer__social{
  display: flex;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
 
}

.footer__social-link{
  text-decoration: none;
  display: inline-flex;
  font-size: 1.25rem;
  color: rgb(255, 255, 255);
  font-size: 30px;
}

.footer__social-link:hover{
  color: var(--orange);
  transition: 0.3s;
}

.preloader{
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fd4b4b url(loading.gif) no-repeat center center;
  z-index: 999;
  transition: opacity 5s, visibility 5s ;
}

.preloader--hidden{
  opacity: 0;
  visibility: hidden;
}

@media screen and (min-width: 320px) {
  body{
    zoom: 0.5;
  }
  .text1{
    
    width: 600px;
    height: 300px;
    top: 80%;
    left: 50%;
  }
  .table{
    zoom: 1.2;
    top: 45%;

  }

  .endgame{
    zoom: 1.4;
    top: 10%;
  }
}



@media screen and (min-width: 375px) {
  body{
    zoom: 0.5;
  }
  .text1{
    width: 700px;
  }
  .table{
    zoom: 1.5;
  }
}


@media screen and (min-width: 425px) {
 
  .endgame{
    zoom: 1.8;
    top: 5%;
  }

  .table{
    zoom: 1.8;
  }

  .text1{
    width: 800px;
  }
}



@media screen and (min-width: 768px) {
  body{
    zoom: 0.7;
  }
  .text1{
    zoom: 0.9;
    top: 80%;
    width: 65rem;
    height: 15rem;
  }
  .endgame{
    zoom: 1.2;
    top: 5%;
  }
  .table{
    zoom: 1.4;
  }
}

@media screen and (min-width: 1024px) {
  body{
    zoom: 0.7;
  }
  .text1{
    top: 50%;
    left: 30%;
    width: 55rem;
  }
  .table{
    zoom: 1.3;
    top: 50%;
    left: 80%;
  }
  .endgame{
    zoom: 1.8;
    top: 5%;
  }
}



@media screen and (min-width: 1440px) {
  body{
    zoom: 0.9;
  }
  .text1{
    width: 55rem;
    height: 20rem;
  }
  button ,h1 ,h2{
    font-size: 40px;
  }
  .endgame{
    zoom: 1;
    top: 5%;
  }
}




@media screen and (min-width: 2560px) {
  body{
    zoom: 1.6;
  }
}